Checks: >
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    readability-*,
    -modernize-use-trailing-return-type,

CheckOptions:
    - {key: readability-identifier-naming.NamespaceCase,           value: lower_case}
    - {key: readability-identifier-naming.ClassCase,               value: lower_case}
    - {key: readability-identifier-naming.ClassSuffix,             value: _t}
    - {key: readability-identifier-naming.StructCase,              value: lower_case}
    - {key: readability-identifier-naming.EnumCase,                value: lower_case}
    - {key: readability-identifier-naming.EnumConstantCase,        value: lower_case}
    - {key: readability-identifier-naming.ScopedEnumConstantCase,  value: lower_case}
    - {key: readability-identifier-naming.StaticConstantCase,      value: lower_case}
    - {key: readability-identifier-naming.GlobalConstantCase,      value: lower_case}
    - {key: readability-identifier-naming.ConstexprConstantCase,   value: lower_case}
    - {key: readability-identifier-naming.LocalConstantCase,       value: lower_case}
    - {key: readability-identifier-naming.ConstantMemberCase,      value: lower_case}
    - {key: readability-identifier-naming.PublicMemberPrefix,      value: ''}
    - {key: readability-identifier-naming.PrivateMemberPrefix,     value: 'm_'}
    - {key: readability-identifier-naming.ProtectedMemberPrefix,   value: 'm_'}
    - {key: readability-identifier-naming.ConstantMemberPrefix,    value: ''}
    - {key: readability-identifier-naming.MacroDefinitionCase,     value: UPPER_CASE}
    - {key: readability-identifier-naming.MacroDefinitionPrefix,   value: SHPXX_}
    - {key: readability-identifier-naming.VariableCase,            value: lower_case}
    - {key: readability-identifier-naming.FunctionCase,            value: lower_case}
    - {key: readability-identifier-naming.TemplateTemplateParameterCase,   value: CamelCase}
    - {key: readability-identifier-naming.TemplateTemplateParameterSuffix, value: T}
    - {key: readability-identifier-naming.TypeTemplateParameterCase,   value: CamelCase}
    - {key: readability-identifier-naming.TypeTemplateParameterSuffix, value: _v}